<topbar
  (next)="onNext()"
  (previous)="onPrevious()"
  [isVisibleDay]="isVisibleDay$|async"
  [isVisibleWeek]="isVisibleWeek$|async"
  [isVisibleMonth]="isVisibleMonth$|async"
  [appointmentTypes]="appointmentTypes$"
  (setViewMode)="onSetViewMode($event)"
  (searchChanged)="onSearchChanged($event)"
  (addAppointmentClicked)="addAppointmentClicked($event)">
</topbar>
<div [ngSwitch]="viewMode$|async">
  <day-view
    *ngSwitchCase="VIEW_MODE.DAY"
    [appointments]="filteredAppointments$|async"
    [date]="currentDate$|async"
    [appointmentTypes]="appointmentTypes$|async"
    (removeAppointment)="onRemoveAppointment($event)"
    (addAppointment)="onAddAppointment($event)"
    (updateAppointment)="onUpdateAppointment($event)"
    (dateSelectedEvent)="selectDate($event)"
  >
  </day-view>
  <week-view
    *ngSwitchCase="VIEW_MODE.WEEK"
    [appointments]="filteredAppointments$|async"
    [year]="currentYear$|async"
    [week]="currentWeek$|async"
    (dateSelectedEvent)="selectDate($event)"
    (removeAppointment)="onRemoveAppointment($event)"
    (addAppointment)="onAddAppointment($event)"
    (updateAppointment)="onUpdateAppointment($event)"
  >
  </week-view>
  <month-view
    *ngSwitchCase="VIEW_MODE.MONTH"
    [month]="currentMonth$|async"
    [year]="currentYear$|async"
    [appointments]="filteredAppointments$|async"
    (removeAppointment)="onRemoveAppointment($event)"
    (addAppointment)="onAddAppointment($event)"
    (updateAppointment)="onUpdateAppointment($event)"
  >
  </month-view>
</div>
