<md-card *ngIf="date">
  <button md-button (click)="selectDate(date)" [ngClass]="{'activeDay': date.getTime() == activeDay.getTime()}">{{date |
    date: "dd/MM/yyyy"}}
  </button>
  <md-card-content>
    <table>
      <tr *ngFor="let appointment of appointments | dateOrderPipe;"
          [mdTooltipPosition]="'before'"
          mdTooltip="{{appointment.description}}">
        <appointment
          (removeAppointment)="removeAppointment.emit($event)"
          (updateAppointment)="updateAppointment.emit($event)"
          [appointment]="appointment"
        ></appointment>
      </tr>
    </table>
  </md-card-content>
  <md-card-actions>
    <button md-button color="primary" class="button-block" (click)="add()">
      <md-icon>add</md-icon>
    </button>
  </md-card-actions>
</md-card>
