<div>
  <td (click)="editMode = true"
      [ngStyle]="{'border-spacing': '10px'}">
    <md-select placeholder="Afspraak type" class="example-full-width">
      <md-option *ngFor="let appointmentType of appointmentTypes"
                 [value]="appointment.afspraakType"
      (onSelectionChange)="appointment.afspraakType">
        {{ appointmentType.name }}
      </md-option>
    </md-select>
    <mat-form-field>
      <mat-select [(value)]="appointment.afspraakType">
        <mat-option>None</mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
    <ngb-timepicker [ngModel]="hour"
                    [hourStep]="hourStep"
                    [minuteStep]="minuteStep"
                    (ngModelChange)="update(appointment)"
    ></ngb-timepicker>
    <button md-button class="button-block" style="background: royalblue"
            (click)="bookAppointment(appointment, appointment.$key)">
      {{appointment.reserved? 'unbook': 'book'}}
    </button>
  </td>
  <td>
    <button md-mini-fab color="warn" (click)="removeAppointment.emit(appointment.$key)">
      <md-icon>delete</md-icon>
    </button>
  </td>
</div>
